#popOverImg {
  position: relative;
  width: 600px;
  height: 401px;
  // border: 3px double #f00;
  margin: 0em auto;
  box-shadow: grey 4px 4px 10px;
  top: 15em;
  z-index: 200;

}

#popOverImg img {
  position: absolute;
  width: 600px;
  height: 401px;
  display: block;
}

#remove {
  position: absolute;
  // width: 150px;
  // line-height: 22px;
  border: 1px solid transparentize(white,.85);
  // bottom: 5px;
  top: 1em;
  right: 1em;
  color: transparentize(white,.5);
  // left: 50%;
  // margin-left: -76px;
  text-align: center;
  // background-color: transaprentize(white,.25);
  cursor: pointer;
  border-radius: 1em;
  width: 1.8em;
  line-height: 1.8em;
  padding-top: 0em;
  font-family: Register;
  &:hover {
    color: white;
    // color: darken(white,25);
    background: transparentize(white,.85);
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}