
@font-face {
    font-family: 'witchedregular';
	src: url('witched_font/witched-webfont.eot');
	src: url('witched_font/witched-webfont.eot?#iefix') format('embedded-opentype'),
		  url('witched_font/witched-webfont.woff') format('woff'),
		  url('witched_font/witched-webfont.ttf') format('truetype'),
		  url('witched_font/witched-webfont.svg#witchedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Register';
	src: url('register-sans/register-sans-btn.eot');
	src: url('register-sans/register-sans-btn.eot?#iefix') format('embedded-opentype'),
	     url('register-sans/register-sans-btn.woff') format('woff'),
	     url('register-sans/register-sans-btn.ttf') format('truetype'),
	     url('register-sans/register-sans-btn.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@include font-face("witchedregular", 
	font-files("witched_font/witched-webfont.ttf", "witched_font/witched-webfont.otf"));

@include font-face("Register", 
	font-files('register-sans/register-sans.eot',
			   'register-sans/register-sans.eot',
			   'register-sans/register-sans.woff',
			   'register-sans/register-sans.ttf',
			   'register-sans/register-sans.svg#SantanaRegular'));

@include font-face("RegisterBold", 
	font-files('register-sans-bold/register-sans-bold.eot',
			   'register-sans-bold/register-sans-bold.eot',
			   'register-sans-bold/register-sans-bold.woff',
			   'register-sans-bold/register-sans-bold.ttf',
			   'register-sans-bold/register-sans-bold.svg#SantanaBold'));

@include font-face("RegisterLight", 
	font-files('register-sans-light/register-sans-light.eot',
			   'register-sans-light/register-sans-light.eot',
			   'register-sans-light/register-sans-light.woff',
			   'register-sans-light/register-sans-light.ttf',
			   'register-sans-light/register-sans-light.svg#SantanaRegular'));

