<div id="nav_gall">
	<ul>
		<li class="oe_art"><%= link_to 'Original Artwork', '/original_artwork.html' %></li> 
		<li class="da_art"><%= link_to 'Digital Artwork', '/digital_artwork.html' %></li>
		<li class="patt_art"><%= link_to 'Patterns', '/patterns.html' %></li>
	</ul>
</div><!-- <<< gallery nav -->
