<div class="social-icons">
	<a href="http://www.facebook.com/ValentinaRamosArt" target="_blank"><span class="facebook-btn"></span></a>
	<a href="http://followgram.me/valentinadesign/" target="_blank"><span class="instagram-btn"></span></a>		
	<a href="http://www.flickr.com/photos/valentinadesign/" target="_blank"><span class="flickr-btn"></span></a>			
	<a href="http://pinterest.com/valentinaharper/" target="_blank"><span class="pinterest-btn"></span></a>		
	<!-- <a href="https://twitter.com/valendesign" target="_blank"><span class="twitter-btn"></span></a>		 -->
</div>