---
title: About Valentina
---

<div id="content">
  	<h2>About Valentina</h2>
  
		<p>Original, Unique and Inspirational Art Prints, Drawing and Designs by artist Valentina Harper (formerly Valentina Ramos). I’m a graphic artist living in Nashville, Tennessee! “Muy Muy Muy Importante” I’m from <a href="#">Venezuela</a> and my mother language is Spanish... So have patience with the grammar and have fun! Here you will find a little bit of my happy life, wonderful things that inspired me and of course a lot of my art!</p>
	    
	    <p><%= link_to "Check out my blog", "http://www.valentinaramos.blogspot.com/" %></p>
		
	<!-- .doc -->

</div><!-- .welcome -->