---
title: Valentina's Art - Welcome to Valentina's World!
---

<div class="pageWrapper blur">
	<div class="modalWrapper open">

		<div class="modal">

			<div class="modalContent">

				<h1>Duuuuuuude!</h1>

			</div>

			<div id="content">

				<div id="col_box">
					<div class="left_col">
						<img src="img/val_pic.jpg">
						<br><br>
						<p><%= link_to 'See Artist\'s Statement', '/artist_statement.html'%></p>

					</div>

					<div class="right_col">
						<h2>Welcome to Valentina's world</h2>
						<p><b>After 15 years working as a graphic designer, Valentina Harper (formerly Ramos)</b> started to create other arts and crafts. From these creations, Valentina Design was born: her world of fantasies and dreams; where her uplifting drawings and designs took shape.</p>

						<p>In her Nashville studio, this Venezuelan artist spent countless happy hours playing with her paints and her <%= link_to 'Rapidograph pens', 'http://www.kohinoorusa.com/products/pens/rapidograph/index.html', :target => :_blank %>. She enjoys working with different materials, but black ink is one of the mediums you will always find in her original prints, paintings and drawings. Her love for artworks with little intricate details are a signature of her own drawing style.</p>

					</div>

					<%= partial "social" %>

				</div>

				<!-- .doc -->
			</div><!-- .welcome -->

		</div> <!-- modal -->

	</div> <!-- modalWrapper -->
</div> <!-- pageWrapper -->