---
title: Shop
---

<div id="content">
	<p>Please visit my shops!</p>
  <div class="shop-box">
      <a href="http://www.etsy.com/shop/valentinadesign?ref=si_shop" target="_blank">
          <img src="img/shop/shop_etsy.jpg" alt="Etsy | Prints and Original Artwork" />
      </a>
      <div class="shop-text">
          <h4><a href="http://www.etsy.com/shop/valentinadesign?ref=si_shop" target="_blank">Etsy</a>
          </h4>
          <p>Art prints, Original Artwork, canvas prints</p>
      </div>
  </div>


  <div class="shop-box">
      <a href="http://society6.com/valentinaramos" target="_blank">
          <img src="img/shop/shop_society6.jpg" alt="Society 6 | Prints, t-shirts, canvas, iPhone skins" />
      </a>
      <div class="shop-text">
          <h4><a href="http://society6.com/valentinaramos" target="_blank">Society6</a>
          </h4>
          <p>Art prints, framed art prints, stretched canvases, stationery cards, iPhone and iPod skins, laptop skins, t-shirts, throw pillows, tote bags</p>
      </div>
  </div>


  <br clear="left" />


  <div class="shop-box">
      <a href="http://www.decalgirl.com/artists/Valentina_Ramos" target="_blank">
          <img src="img/shop/shop_decal_girl.jpg" alt="Decal Girl | phone, laptos and readers skins" />
      </a>
      <div class="shop-text">
          <h4><a href="http://www.decalgirl.com/artists/Valentina_Ramos" target="_blank">DecalGirl</a>
          </h4>
          <p>Skins for mobiles phones, iPods & digital media players, iPad & tablets, laptops & notebooks, gaming devices</p>
      </div>
  </div>

  <div class="shop-box">
      <a href="http://www.denydesigns.com/collections/valentina-ramos-all-art" target="_blank">
          <img src="img/shop/shop_deny_designs.jpg" alt="DENY Designs | Jewerly Boxes, Shower Curtains, Duvet Covers" />
      </a>
      <div class="shop-text">
          <h4><a href="http://www.denydesigns.com/collections/valentina-ramos-all-art" target="_blank">DENY Designs</a>
          </h4>
          <p>Duvet covers, sheet sets, shower curtains, throw pillows, fleece throw blanket, Wall clock, wall art, jewelry boxes</p>
      </div>
  </div>


  <br clear="left" />


  <div class="shop-box">
      <a href="http://www.spoonflower.com/profiles/valentinaharper" target="_blank">
          <img src="img/shop/shop_spoonflower.jpg" alt="Spoonflower | fabrics" />
      </a>
      <div class="shop-text">
          <h4><a href="http://www.spoonflower.com/profiles/valentinaharper" target="_blank">Spoonflower</a>
          </h4>
          <p>Fabrics, wallpaper, wall decal</p>
      </div>
  </div>

  <div class="shop-box">
      <a href="http://www.getuncommon.com/customize/grid/valentina-ramos/-14/" target="_blank">
          <img src="img/shop/shop_uncommon.jpg" alt="Uncommon | iPhone cases" />
      </a>
      <div class="shop-text">
          <h4><a href="http://www.getuncommon.com/customize/grid/valentina-ramos/-14/" target="_blank">Uncommon</a>
          </h4>
          <p>Cases for iPhone 3G/3GS, iPhone 4/4S, iPhone 5, iPod Touch, iPad, MacBook</p>
      </div>
  </div>


  <br clear="left" />


  <div class="shop-box">
      <a href="http://app.medgestore.com/stylelab/?device=&amp;theme=Valentina&amp;sort=" target="_blank">
          <img src="img/shop/shop_m-edge.jpg" alt="M-Edge | iPads Jackets" border="0" />
      </a>
      <div class="shop-text">
          <h4><a href="http://app.medgestore.com/stylelab/?device=&amp;theme=Valentina&amp;sort=" target="_blank">M-Edge</a>
          </h4>
          <p>Accessories for iPad, Samsung Galaxy Tab, Kindle and Nook devices</p>
      </div>
  </div>

  <div class="shop-box">
      <a href="http://www.muralsyourway.com/valentina-ramos-prints/" target="_blank">
          <img src="img/shop/shop_murals_your_way.jpg" alt="Murals your Way | Art Murals" />
      </a>
      <div class="shop-text">
          <h4><a href="http://www.muralsyourway.com/valentina-ramos-prints/" target="_blank">Murals Your Way</a>
          </h4>
          <p>Wall murals</p>
      </div>
  </div>
  <!-- .doc -->
</div><!-- .welcome -->